<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>Iniciar Sesión</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    
    <div class="valign-wrapper loginContainer">
        asd
    </div>

    <%- include('./partials/jsLink.ejs') %>
</body>
</html>