body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.custom-nav {
  height: 70px;
  line-height: 70px;
}

.custom-nav .brand-logo img {
  height: 70px;
}

.custom-nav .nav-wrapper {
  height: 70px;
}

.loginContainer {
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
  height: 100%;
  position: absolute;
}